In [21]:
import numpy as np
import pandas as pd

# EXCEL

In [5]:
excel = pd.read_excel('data/DAMF2.xlsx') # 엑셀파일 불러오기

In [6]:
excel

,이름,전공,email,github
0,오창희,소프트웨어공학,oche.edu@gmail.com,5chang2
1,권기남,항공전기전공,rlska213@naver.com,kka712
2,김광성,경제학과,kgs3770@gmail.com,kgs3770
3,김승현,음악학과,tmdgus_skfk@naver.com,wnshite
4,김윤식,중국통상학과,manylong@naver.com,rladbstlr87
5,김주성,사회학,kimjs20020426@gmail.com,darkmonke
6,민예린,정보통신학과,yerinmin@naver.com,Yerineeeee98
7,박선민,콘텐츠 비즈니스,manimoun99@gmail.com,manimo1234
8,박소리,미디어커뮤니케이션학부,alsldjsthflone@daum.net,alslsol
9,박수빈,한문학과/미디어커뮤니케이션학과,tvsu0808@gmail.com,vivianpark8
10,박수현,Big Data in Culture & Society,iamsummer614@gmail.com,iam-Aerin
11,신효진,일본어통역,dsvit100hjin@gmail.com,DSVIT100
12,양다희,수리금융학과/응용통계학과,sally8323@gmail.com,dahee325
13,이유진,경제학과,eubv918@gmail.com,eyoojin
14,이주현,응용통계학과,ljh01099014032@gmail.com,Lejuhyun
15,임서영,사회학/정치외교학,1203sylim@gmail.com,seoyoung1203
16,장윤서,관광학부,jysjys2669@gmail.com,jangyunseo4547
17,조중석,스포츠과학과,whwndtjr9712@naver.com,Chojungseok
18,최민혁,국어국문학과,alsgurgud@naver.com,Minhyeok0330
19,최시언,신문방송학과,la-poderosa@naver.com,choisieon
20,황다인,러시아어학/아트앤테크놀리지학,hdi0628@gmail.com,dain0628
21,황성진,사물인터넷학과,seongjin5743@naver.com,seongjin5743

In [8]:
excel[['이름', 'github']]

     이름          github
0   오창희         5chang2
1   권기남          kka712
2   김광성         kgs3770
3   김승현         wnshite
4   김윤식     rladbstlr87
5   김주성       darkmonke
6   민예린    Yerineeeee98
7   박선민      manimo1234
8   박소리         alslsol
9   박수빈     vivianpark8
10  박수현       iam-Aerin
11  신효진        DSVIT100
12  양다희        dahee325
13  이유진         eyoojin
14  이주현        Lejuhyun
15  임서영    seoyoung1203
16  장윤서  jangyunseo4547
17  조중석     Chojungseok
18  최민혁    Minhyeok0330
19  최시언       choisieon
20  황다인        dain0628
21  황성진    seongjin5743

In [9]:
excel.head() # 5개의 데이터만 출력

    이름       전공                  email       github
0  오창희  소프트웨어공학     oche.edu@gmail.com      5chang2
1  권기남   항공전기전공     rlska213@naver.com       kka712
2  김광성     경제학과      kgs3770@gmail.com      kgs3770
3  김승현     음악학과  tmdgus_skfk@naver.com      wnshite
4  김윤식   중국통상학과     manylong@naver.com  rladbstlr87

In [13]:
# excel = pd.read_excel('data/DAMF2.xlsx', sheet_name=None) # None으로 입력하면 sheet_name을 key값으로한 딕셔너리로 모든 파일 내용 출력
excel = pd.read_excel('data/DAMF2.xlsx', sheet_name='menu')
excel.head()

,가게이름,시간,메뉴,한줄평
0,독립문설렁탕,5분,설랑탕/불고기,설렁탕이 6천원! / 하지만 웨이팅 있음
1,송준옥,8분,맑은뼈국(국밥),"보통11,000원/특14,000원 bar형식의 테이블로 3~4명가면 일렬로 앉아야되..."
2,종로김밥,NaN,분식,2/12 방문기준 신촌역점은 영업 안했어요! 신촌로터리점은 안가봤어요!
3,바지락수제비칼국수,8분,"수제비,칼국수,김밥","칼국수, 수제비, 칼제비 5,000원 김밥 3,000원 / 자리가 협소해서 2-3팀..."
4,유닭스토리,3분,"닭(칼국수, 곰탕, 계장)\n닭갈비치즈덮밥","10,000~11,000원/자리많아요"

In [15]:
menu_df = excel[['가게이름', '메뉴']]

In [20]:
menu_df.to_excel('data/sample.xlsx', index=False) # 엑셀파일로 저장하기, index=False를 옵션으로 지정하면 인덱스 번호 빠지고 저장

# CSV

In [17]:
df = pd.read_csv('data/DAMF2.csv') # csv(콤마로 구분된 데이터 파일)파일 불러오기

In [19]:
df.head()

    이름       전공                  email       github
0  오창희  소프트웨어공학     oche.edu@gmail.com      5chang2
1  권기남   항공전기전공     rlska213@naver.com       kka712
2  김광성     경제학과      kgs3770@gmail.com      kgs3770
3  김승현     음악학과  tmdgus_skfk@naver.com      wnshite
4  김윤식   중국통상학과     manylong@naver.com  rladbstlr87

In [22]:
df2 = df[['이름', 'email']]

In [23]:
df2.to_csv('data/sample.csv')